/* Navbar Start */
#navbar {
    background: #f9f9f9;
  }
  #logo {
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 0px;
  }
  .btn {
    background-color: #1d8bf8;
  }
  #logo span {
    color: #ffa500;
  }
  .navbar-toggler span {
    color: #ffa500;
  }
  .navbar-nav {
    margin-left: 20px;
  }
  .nav-item .nav-link {
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
  }
  .nav-item .nav-link:hover {
      color: rgb(15, 0, 148);
  border-bottom:solid 2px #ff0000;
   
  }
  #navbar form button {
    background: orange;
    color: white;
    border: none;
  }
  
  .user {
    margin-left: 15px;
  }
  
  .ul-1 {
    margin-left: 80px;
  }
  
  .ul-1 li {
    margin-right: 50px;
  }
  /* Navbar End */
  