.book {
    background: #f9f9f9;
    padding: 50px;
  }
  .main-text h1 {
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 120px;
  }
  .main-text h1 span {
    color: #ff0800;
  }
  .book .card {
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
  }
  .book h2 {
   font-size: 40px;
   text-align: center;
   font-weight: bold;
   margin-top: 40px;
   margin-bottom: 70px;
  }
  .book p{
      text-align: center;
      font-size: 25px;
      margin-bottom: 40px;
  }
  .bg{
    background-color: rgb(66, 66, 66);
    width: 300px;
    
  }
  .book .suivi-bt{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  }
  
  
  
  
  @media (max-width: 765px) {
    .book {
      padding: 0;
    }
    .main-text h1 {
      padding: 20px;
    }
  }