.home {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
  }
  .home .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .home .content {
    text-align: center;
    padding-top: 200px;
  }
  .home .content h5 {
    color: white;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
  }
  .home .content h1 {
    color: white;
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
  }
  .changecontent::after {
    content: " ";
    color: #ffa500;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
  }

  @keyframes changetext {
    0% {
      content: "oujda";
    }
    20% {
      content: "-_-";
    }
    40% {
      content: "*/*";
    }
    60% {
      content: "";
    }
    80% {
      content: "Caffe rihab";
    }
    100%{
        content:"(*)-_-(*)"
    }

  }